body {
    background: lightgray;
    font-family: "Century Gothic";
}

.row {
    padding-top: 30px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: olive;
}

h2 {
    color: olive;
    text-align: center;
}

.nav-link {
    color: #461577
}

.statement {
    margin-top: 120px;
    margin-left: 20px;
    font-size: 25px;
}

.portrait {
    border-radius: 50%;
}

.btn-outline {
    color: olive;
}

.mps-title {
    font-size: 1.1em;
}

@media (max-width: 1300px) {
    .statement {
        margin-top: 20px;
        margin-left: 220px;
    }


}


