body {
    background: lightgray;
    font-family: "Century Gothic";
}

.row {
    padding-top: 30px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: olive;
}

h2 {
    color: olive;
}

.nav-link {
    color: #461577
}

.statement {
    margin-top: 120px;
    font-size: 20px;
}

.portrait {
    border-radius: 50%;
}

.card-row {
    display: flex;
    justify-content: space-evenly;
}

.btn-outline {
    color: olive;
}

.macalester-link {
    padding-top: 20px;
}

.mps-title {
    font-size: 1.1em;
}


